<div class="wrapper">
  <div class="title">
    <span>
    Administrador
  </span>
  <label>
    Pesquise e edite dados dos clientes.
  </label>
  </div>
  <div class="container">
   <div class="wrapper"> 
    <form [formGroup]="filterForm"> 
      <div class="header">
        <div class="row"> 
          <div class="col-4">
            <input type="text" class="form-control " placeholder="Nome de usuário" formControlName="name">
          </div>
          <div class="col-4">
            <input type="email" class="form-control" placeholder="Pesquisa por E-mail" formControlName="email">
          </div>
          <div class="col-4">
              <ng-select
              placeholder="Filtro por perfil"
              [items]="roles"
              bindLabel="name"
              [searchable]="true"
              [clearable]="false"
              [multiple]="false"
              formControlName="profile">
              </ng-select>
          </div>
          <div class="col-4 mt-4">
            <input 
            [placeholder]="!cpfInput ? 'Filtro por CNPJ':'Filtro por CPF'"
            type="text" 
            [mask]="!cpfInput ? '00.000.000/0000-00':'000.000.000-00'" 
            class="form-control " 
            formControlName="cpfCnpj" 
            name="CPF/CNPJ">
          </div>         
        </div>
        <div class="row buttons">
          <div class="col-6 toggle-container">
            <div>
                <span (click)="togleCpfCnpj(true)" class="cpf-side" [ngClass]="{'toggle-selected': cpfInput}">
                    CPF
                </span>
                <span (click)="togleCpfCnpj(false)" class="cnpj-side" [ngClass]="{'toggle-selected': !cpfInput}">
                    CNPJ
                </span>
            </div>                    
          </div>
          <div class="col-6 buttons-filter">
            <div class="clean-filter" (click)="clearFilters()">Limpar</div>
            <button class="aply-filter" (click)="applyFilter()">Pesquisar</button>
          </div>
        </div>
      </div>  
    </form>
    
  </div> 
</div>

